
{{ define "title"}}Login Page for Mule's Go Projects{{end}}
{{ define "css"}}main{{end}}
{{ define "body" }}
Login<br><br>
<form action="" method="post">
        Name: &nbsp;&nbsp;&nbsp;&nbsp;<input name="username" type="text" value={{.AppDat}}><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" value="Login">
</form>
<br><a href="{{.HomeURL}}">Go to the Guest Center</a>
<br><a href="/signup">Create an Account</a>
<br><a href="/">Main Page</a>
{{ end }}

