
{{ define "title"}}Login Page for Mule's Go Projects{{end}}
{{ define "css"}}main{{end}}
{{ define "body" }}
Login<br><br>
<form action="" method="post">
        Name: &nbsp;&nbsp;&nbsp;&nbsp;<input name="username" type="text" value={{.AppDat}}><br>
        Password: <input name="password" type="password"><br>
        <input type="submit" value="Login">
</form>
<br>
<br>Account:
<br>&#8226; <a href="/register">Create</a>
<br>Other:
<br>&#8226; <a href="{{.HomeURL}}">Projects</a>
<br>&#8226; <a href="/">Main Page</a>
{{ end }}

